@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Empresa X</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cadastrar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/Cargos/Cadastro">Cargo</a></li>
                            <li><a class="dropdown-item" href="/Departamentos/Cadastro">Departamento</a></li>
                            <li><a class="dropdown-item" href="/Funcionarios/Cadastro">Funcionario</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Consultar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/Cargos/Consulta">Cargo</a></li>
                            <li><a class="dropdown-item" href="/Departamentos/Consulta">Departamento</a></li>
                            <li><a class="dropdown-item" href="/Funcionarios/Consulta">Funcionário</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<div class="container mt-4">

    @RenderBody()

    <footer class="fixed-bottom">
        <p class="text-md-end">
            Projeto desenvolvido em .NET CORE MVC com Dapper
        </p>
    </footer>

</div>   
        <script src="~/js/jquery-3.5.1.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </body>
</html>